.ng-invalid.ng-touched {
  border-color: red;
}
.error-block {
  color: red;
}

.custom-radio {
  border-radius: 44px;
  padding: 0 15px;
  line-height: 30px;
}

/* Active selected button */
.custom-radio.active {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}
